p{
    margin: 10px 15px 10px 0;
    /* word-wrap: initial; */
}

.about{
    display: flex;
    text-align: left;
    height: inherit;
    max-height: inherit;
    align-items: center;
}

.about-detail{
    color: var(--a);

}

img{
    margin: 10px;
    border-radius: 50%;
    width: 30%;
}

.skills ol{
    text-align: left;
    color: steelblue;
}

.skill-name{
    display: inline-block; 
    color: rgb(70, 158, 187);
    font-weight: bold;
    font-size: 110%; 
 }
