
.nav-bar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-style: faded;
    border-color: silver;
    background-image: linear-gradient(var(--Dark), var(--fade));
    padding: 30px;
    margin-bottom: 10px ;
}

.my-name{
    color: white;
    justify-content: left;
    font-family: 'Comforter', cursive;
    font-size: 70px;
}

.nav-item{
    justify-content: space-around;

}
