.nav-bar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-style:dotted;
    border-color: silver;
    background-color: rgba(64, 224, 208, 0.452);
    padding: 30px;
    margin-bottom: 20px ;
}

.my-name{
    color: white;
    justify-content: left;
}

.nav-item{
    justify-content: space-around;

}
